@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body {
    background-color: rgb(151, 235, 25);
    font-family: 'Ubuntu', sans-serif;

}

.side {
    background-color: pink;
    width: 15%;
    height: 80vh;
    justify-self: flex-end;
    background-color: rgb(147, 116, 72);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
}
.heading {
    margin: 0px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center;
}

.h2text {
    width: 75%;
    height: 29vh;
    background-color: rgb(14, 183, 90);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: hsl(0, 0%, 100%);

}

#pond2 {
    display: flex;
    justify-content: space-between;
}


#bok {
    background-color: rgb(14, 183, 90);
    width: 23%;
    height: 150vh;

}