@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');



.h1 {
    margin: 0;
    padding: 10px;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
}

body {
    background-color: rgb(185, 233, 112);
    font-family: 'Ubuntu', sans-serif;

}

.mapa {
    border-radius: 15px;
}



.heading {
    margin: 0px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center
}

.footerclass {
    background-color: rgb(49, 172, 49);
    margin: 0px 40px;
    text-align: center;
    border-radius: 15px;

}

.obrazky {
    border-radius: 15px;
    border: solid 5px;
    color: white;
}

.text {
    width: 900px;
    height: px;
    background-color: rgb(49, 172, 49);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    color: black;

}

.pond {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;


}

#right {
    width: 90%;
    height: 130vh;
    background-color: rgb(49, 172, 49);
    padding: 10px;
    border-radius: 15px;
}

.button {
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    left: 60px;
    top: 30px;
}

.pin:hover {
    transform: scale(1.5);
}