@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: burlywood;
    font-family: 'Ubuntu', sans-serif;
}


.side {
    background-color: pink;
    width: 28%;
    height: 80vh;

    background-color: rgb(214, 123, 143);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
}


.heading {
    margin: 0px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center;
}

#pond {
    display: flex;
    justify-content: space-between;
}

.footerclass {
    margin: 0px 40px;
    background-color: #845e5e;
    text-align: center;
    border-radius: 15px;
}