@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: rgb(238, 221, 123);
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#left {
    display: flex;
    flex-direction: row;
}

#right {
    width: 95%;
    height: 100vh;
    background-color: rgb(238, 78, 78);
    padding: 10px;
    border-radius: 15px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.side {
    color: rgb(255, 255, 255)
}

.heading {
    margin: 15px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center;

}

.h1class {
    margin: 0;
    padding: 10px;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
}

.palladiumdum {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.palladiumvevnitr {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.palvevnitr {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.paladiumvenek {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.p1 {
    width: 85%;
    /* height: 49vh; */
    background-color: rgb(238, 78, 78);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    color: hsl(0, 0%, 100%);
}

.footerclass {
    margin: 0px 40px;
    background-color: rgb(238, 78, 78);
    text-align: center;
    border-radius: 15px;
}