@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.pond {
    display: flex;
    justify-content: end;
    display: flex;
    flex-direction: row;
}

.content {
    flex-grow: 1
}

.right {
    width: 23%;
    height: 130vh;
    background-color: rgb(214, 123, 143);
    border-radius: 15px;
    color: hsl(0, 21%, 93%);
    padding: 10px;
}

body {
    background-color: rgb(249, 222, 240);
    font-family: 'Ubuntu', sans-serif;
}

.heading {
    margin: 15px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center;
}

.zabicka {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 21%, 93%);
}

.h1class {
    margin: 0;
    padding: 10px;
    font-size: 50px;
    color: hsl(0, 21%, 93%);
}

.h3text {
    width: 80%;
    height: 35vh;
    background-color: rgb(214, 123, 143);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    color: hsl(0, 21%, 93%);
}

.ptext {
    width: 20%;
    height: 10vh;
    background-color: rgb(214, 123, 143);
    border-radius: 15px;
    padding: 5px;
    margin: 10px 0px 10px 50px;
    color: hsl(0, 21%, 93%);
    text-align: center;
}

.text {
    display: flex;
}

.footerclass {
    margin: 0px 40px;
    background-color: rgb(214, 123, 143);
    text-align: center;
    border-radius: 15px;
    color: white;
}

.button {
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    left: 60px;
    top: 30px;
}

.pin:hover {
    transform: scale(1.5);
}

.mapa {
    border-radius: 15px;
}