@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: rgb(205, 205, 205);
    color: rgb(250, 250, 250);
    font-family: 'Ubuntu', sans-serif;
}


#right {
    width: 98%;
    height: 108vh;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    padding: 5px
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.foother {
    color: black
}

.heading {
    margin: 15px 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("most2.jpg");
    text-align: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 100%;
    background-position: center;

}

.zizkov-mimina {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.zizkov_vez {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}

.zizkov {
    border-radius: 15px;
    border: solid 5px;
    color: hsl(0, 0%, 100%);
}



.text {
    width: 85%;
    height: 38vh;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    color: hsl(0, 0%, 100%);
}

.footerclass {
    margin: 0px 40px;
    background-color: rgb(148, 148, 148);
    text-align: center;
    border-radius: 15px;
}

.h1class {
    margin: 0;
    padding: 10px;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
}

td {
    border-color: black;
    border: solid;

}

.button {
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    left: 60px;
    top: 30px;
}

.pin:hover {
    transform: scale(1.5);
}